* {
	box-sizing: border-box;
}

body {
	background: #252525;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

a { text-decoration: none; } a:hover { text-decoration: none; }

.font {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
}

.small {
	height: 25px;
	display: inline-block;
	font-size: 10pt;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
}

.medium {
	height: 50px;
	display: inline-block;
	font-size: 16pt;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
}

.large {
	height: 75px;
	display: inline-block;
	font-size: 24pt;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
}

.animate:hover {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
	transition: all .5s;
}

.rounded5 {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

.rounded10 {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.rounded20 {
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}

.rounded40 {
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}

.flat {
	display: inline-block;
}

.flat.red {
  background-color: #bf3f3f;
}

.flat.red:hover {
	background-color: #933030;
}

.flat.pink {
  background-color: #bf3fb4;
}

.flat.pink:hover {
	background-color: #94328c;
}

.flat.purple {
  background-color: #963fbf;
}

.flat.purple:hover {
	background-color: #6f2e8d;
}

.flat.blue {
  background-color: #3f3fbf;
}

.flat.blue:hover {
	background-color: #2e2e88;
}

.flat.cyan {
  background-color: #3f90bf;
}

.flat.cyan:hover {
	background-color: #2f6c8f;
}

.flat.test1 {
  background-color: #3fbfbd;
}

.flat.test1:hover {
	background-color: #2f918f;
}

.flat.test2 {
  background-color: #3fbf84;
}

.flat.test2:hover {
	background-color: #2f8d62;
}

.flat.green {
  background-color: #3fbf4e;
}

.flat.green:hover {
	background-color: #2d8637;
}

.flat.test3 {
  background-color: #75bf3f;
}

.flat.test3:hover {
	background-color: #5a9330;
}

.flat.lime {
  background-color: #b4bf3f;
}

.flat.lime:hover {
	background-color: #969f34;
}

.flat.gold {
  background-color: #bfa53f;
}

.flat.gold:hover {
	background-color: #a18b35;
}

.flat.orange {
  background-color: #bf8a3f;
}

.flat.orange:hover {
	background-color: #a67838;
}